<div class="main">
  <div class="wordlist" *ngIf="state !== State.inputPlayers">
    <div class="wordlistlabel">Woorden:</div>
    <div class="wordcontainer">
      <div *ngFor="let word of allWords">{{word}}</div>
    </div>
  </div>
  <app-board #board *ngIf="state !== State.inputPlayers" [letters]="allLetters" (letterPlaced)="onLetterPlaced($event)"></app-board>
  <div class="controlcontainer">
    <form class="editform" [formGroup]="form" *ngIf="state === State.inputPlayers">
      <div class="form-group">
        <label for="player1">Mijn naam</label>
        <input #player1 id="player1" type="text" class="form-control" formControlName="player1Name" />
      </div>
      <div class="form-group">
        <label for="player2">De naam van de ander</label>
        <input #player2 id="player2" type="text" class="form-control" formControlName="player2Name" />
      </div>
      <div class="form-group">
        <label for="startPlayer">Wie begint er?</label>
        <select id="startPlayer" class="form-control" formControlName="startPlayer">
          <option value="1">{{form.get('player1Name').value}}</option>
          <option value="2">{{form.get('player2Name').value}}</option>
        </select>
        <br>
        <br>
        <button *ngIf="form.get('startPlayer').value !== null" class="form-control" (click)="startGame()">Start game</button>
      </div>
    </form>
    <div class="player-panel" *ngIf="state !== State.inputPlayers">
      <div class="player-info" *ngFor="let player of players">
          <div class="player-name" [ngClass]="{'selected': player === activePlayer}">{{player.name}}, score: {{player.score}}</div>
          <br>
      </div>
      <br>
      <span [style.visibility]="currentScore ? 'visible' : 'hidden'">Huidige score voor deze beurt: {{currentScore}} punten</span>
      <br>
      <br>
      <span>Geplaatste woorden:</span>
      <br>
      <div *ngFor="let newWord of newWordStrings">{{newWord.word}}: {{newWord.score}} punten</div>
      <br>
      <button class="form-control" (click)="play()">Speel</button>
      <br>
      <button class="form-control" (click)="clearPlacedLetters()">Wis</button>
      <br>
      <br>
      <div class="error" *ngFor="let error of errors">{{error}}</div>
    </div>
  </div>
</div>