<div class="main">
  <div class="gridcontainer">
    <div class="grid">
      <div class="cell" *ngFor="let cell of gridcells" 
      [ngClass]="{'selected': isSelected(cell), 'DL': cell.type === 'DL', 'TL': cell.type === 'TL', 'DW': cell.type === 'DW', 'TW': cell.type === 'TW'}" 
      (click)="onClick(cell)">{{cell.type}}</div>
    </div>
    <div class="grid noevent">
      <div class="letter" *ngFor="let letter of letters" [style.grid-row-start]="letter.row" [style.grid-column-start]="letter.col">{{letter.letter}}</div>
    </div>
  </div>
</div>