<div class="gridcontainer">
    <div class="grid">
      <div class="cell" *ngFor="let cell of gridcells" 
      [ngClass]="{'selected': cell === selectedGridCell, 'M': cell.type === 'M', 'DL': cell.type === 'DL', 'TL': cell.type === 'TL', 'DW': cell.type === 'DW', 'TW': cell.type === 'TW'}"
        (click)="onClick(cell)">{{cell.type !== 'M' ? cell.type : '*'}}</div>
    </div>
    <div class="grid noevent">
      <div class="letter" *ngFor="let letter of letters" 
        [ngClass]="{'new': letter.new, 'markedForScore': letter.isHighlighted || letter.isNew}" [style.grid-row-start]="letter.cell.row + 1" [style.grid-column-start]="letter.cell.col + 1">
        {{letter.letter}}
        <div class="lettervalue" *ngIf="letter.value > 0">{{letter.value}}</div>
      </div>
    </div>
  </div>
